@charset 'utf-8';
@import 'globals-default';
@import "util/util";

/*   define fonts   */

/* spartan-regular - latin */
@font-face {
    font-family: 'Spartan';
    font-style: normal;
    font-weight: 500;
    src: local(''),
         url('../fonts/spartan-v2-latin-500.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
         url('../fonts/spartan-v2-latin-500.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
  }
  
  /* spartan-800 - latin */
  @font-face {
    font-family: 'Spartan';
    font-style: bold;
    font-weight: 800;
    src: local(''),
         url('../fonts/spartan-v2-latin-800.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
         url('../fonts/spartan-v2-latin-800.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
  }

  /* fanwood-regular */
@font-face {
    font-family: 'Fanwood';
    font-style: normal;
    font-weight: 400;
    src: local(''),
         url('../fonts/fanwood-webfont.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
  }
  
  /* fanwood-italic */
  @font-face {
    font-family: 'Fanwood';
    font-style: italic;
    src: local(''),
         url('../fonts/fanwood_italic-webfont.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
  }

/*   defines local foundation settings   */

$foundation-palette: (
  // primary: #01031a,
  primary: #1a2260,
  // primary: darken(#1a2961, 5%),
  // secondary: lighten(#777f96,35%),
  secondary: #c8dbd7,
  success: #3adb76,
  warning: #ffae00,
  alert: #cc4b37,
);

$body-font-family: 'Fanwood', serif;
$header-font-family: 'Spartan', sans-serif;

@import 'settings';

$topbar-background: $primary-color;
  
$thumbnail-border: unset;
$thumbnail-shadow: 0 0 6px 1px rgba($primary-color, 0.5);
$thumbnail-shadow-hover: 0 0 8px 1px rgba($primary-color, 0.75);

$button-background: $secondary-color;
// $button-background-hover: scale-color($warning-color, $lightness: -15%);
$button-background-hover: darken($secondary-color, 15%);
$button-color: $primary-color;

$base-border: .5rem solid $primary-color;

@import 'foundation-core';
@import 'omeka';

/*   styles header/sidebar + footer  */

body.vertical-menu #content,
body.vertical-menu footer {
  background-color: lighten($secondary-color, 10%);
  border: $base-border;
}
body.vertical-menu #content {
  border-bottom-width: .25rem;
}
body.vertical-menu footer {
  border-top-width: .25rem;
}

body.vertical-menu header a {
  color: $secondary-color;
}

header a,
a.nav-header,
#offCanvas .search,
footer a {
  text-decoration: none;
}

header,
footer,
.property dt,
.property dl,
.property.tags,
.quotation,
.caption p,
.browse-controls,
#advanced-search,
.search-filters,
.site-page-pagination {
  font-family: $header-font-family;
}

.caption p {
  font-size: 100%;
}

blockquote,
blockquote p,
blockquote cite {
  color: $primary-color;
}

// header a.site-title::after {
//     content: ' ';
//     display: block;
//     background: center / cover no-repeat #fff url(../img/russ-navy-clock-thumb.jpg);
//     border-radius: 3px;
//     padding: 5rem;
// }

/*   styles additional typography/layout   */

body.vertical-menu #content {
  // p,
  // h2,
  // h1,
  // h3,
  // h4,
  // h5,
  // h6,
  // ul,
  // .callout,
  // blockquote {
  //     @include xy-cell-offset(1);
  //     @include breakpoint(medium down) {
  //       padding-left: 1rem;
  //     }
  // }

  .item.resource p,
  .item.resource h3,
  .callout h2,
  .callout h3,
  .callout p {
    @include xy-cell-offset(0);
  }

  .item.resource .caption,
  .item.resource p,
  .item.resource h3 {
    max-width: 20rem;
  }

}

body.vertical-menu #content p a {
  text-decoration: underline;

  &:hover {
    text-decoration: none;
  }

}

body.vertical-menu #content p {
  margin-bottom: $paragraph-margin-bottom;
  line-height: $paragraph-lineheight;
}

body.vertical-menu #content #blocks {

  // p,
  // ul,
  // .callout,
  // .property {
  //   max-width: 680px;
  // }
 @include xy-grid;
 flex-direction: column;
 align-items: center;

  p,
  h2,
  h1,
  h3,
  h4,
  h5,
  h6,
  ul,
  .callout,
  blockquote,
  .item-with-metadata {
    
    width: 680px;
      @include breakpoint(medium down) {
        padding-left: 1rem;
        width: 100%;
      }
  }

  p.full-width { width: 100%;}
  .callout { 
    h1,h2,h3,h4,h5,h6,p { width: auto; }
  }

}

/* show item */

.resource-title + .grid-x {
  flex-direction: column-reverse;
}


/*   styles folksonomy module tags 

- tag cloud
- show/item

*/

#content #blocks .hTagcloud ul.popularity {
  width: auto;
}

.property.tags {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  
  .tag {
    padding: .25rem;
    margin: .25rem;
    background-color: rgba($secondary-color,.5);
    border-radius: 3px;
    transition: background-color .25s ease-out;
  }

  .tag:hover {
    background-color: rgba($primary-color,.75);
    a {color: $secondary-color;}
  }

  .tag a {
    text-decoration: none;
  }
}

#content #blocks .hTagcloud {

  li {
    display: inline-block;
    font-family: $header-font-family;
    border: 1.5px solid rgba($primary-color,.25);
    border-radius: 5px;
    padding: 0.25rem .25rem 0rem .25rem;
    background-color: rgba($secondary-color,.25);
    transition: background-color .25s ease-out;
  }
  
  li a {
      text-decoration: none;
    }
    
  li:hover {
      background-color: rgba($primary-color,.75);
      a {color: $secondary-color;}
  }

  .vvvvvvvv-popular {
    line-height: 4rem;
  }
  .vvvvvvv-popular {
    line-height: 3.5rem;
  }
  .vvvvvv-popular {
    line-height: 3rem;
  }
  .vvvv-popular {
    line-height: 2.5rem;
  }
}

/*   styles advanced search widget   */

#advanced-search {
  max-width: 680px;

  .field {
    display: none;
  }

  .field:nth-of-type(1){
    display:block;
  }

  button {
    @extend .button;
  }
}

/*   styles items grid + custom static exhibits page   */

#content #blocks .resource-grid .item.resource {
  border-radius: 3px;
  transition: background-color .25s ease-out;
  .resource-meta {
    font-family: $header-font-family;
  }
  h4 {
    max-width: 20rem;
  }

  a {
    text-decoration: none;
  }

  &:hover {
    background-color: rgba($primary-color,.9);
    color: $secondary-color;
    h4 a {
      color: $secondary-color;
    }
    a.thumbnail {
      -webkit-box-shadow: $thumbnail-shadow-hover;
      box-shadow: $thumbnail-shadow-hover;

    }
  }
}

.center .attachments {
  @include xy-grid;
  justify-content: space-around;

  .item.resource {
    @include xy-gutters($gutter-position: bottom);    
  }
}

.center.large .attachments {
  @extend .medium-up-2;
  
  .item-resource:only-child {
    width: 100%;
    margin: unset;    
  }
}

.center.medium .attachments\ {
  @extend .medium-up-3;
  justify-content: unset;
}

.center.square .attachments {
  @extend .medium-up-4;
  justify-content: unset;
}
